html, body {
	background-image: url('../images/playful-kitten-6683.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	font-family: Montserrat, sans-serif;
	font-size: 4vh;
}

h1, h2 {
	font-size: 9vh;
	padding-left: 2vw;
	margin: 0;
}

h2 {
	font-size: 4vh;
	padding-top: .5em;
}

.hilite {
	color: orange;
	text-shadow: 0.05em 0.05em 0.025em #404040;
}

h2 > img {
	vertical-align: middle;
	height: 3em;
}

nav {
	position: absolute;
	bottom: 1em;
	right: 0.5em;
	font-size: 1.25rem;
}

nav > a {
	text-decoration: none;
	margin-right: .5em;
	display: inline-block;
	vertical-align: bottom;
	transition: padding-bottom 0.25s;
}

a:hover {
	padding-bottom: .5em;
}

#pawprint {
	position: absolute;
	bottom: -0.2em;
	left: -100vw;
	transition: left 0.25s;
	height: 4vh;
}

#schedule-popup {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0,0,0,.8);
	color: orange;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 3px ridge orange;
	font-size: 0.9em;
}

.close {
	position: absolute;
	right: -2vh;
	top: -2vh;
	width: 4vh;
	height: 4vh;
	cursor: pointer;
}

td {
	vertical-align: top;
	padding-left: 0.25em;
}